<extend name="Public:common" />

<block name="content">
  <div class="admin-content">
      <div class="admin-content-body">
        <div class="am-cf am-padding">
          <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>一些常用模块</small></div>
        </div>

        <ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
          <li><a href="#" class="am-text-success">
            <span class="am-icon-btn  am-secondary am-icon-newspaper-o"></span>
            <br/>新闻管理<br/>2300</a></li>
          <li><a href="#" class="am-text-warning">
            <span class="am-icon-btn a am-success am-icon-flask"></span>
            <br/>环保科学标准<br/>308</a></li>
          <li><a href="#" class="am-text-danger">
            <span class="am-icon-btn  am-warning am-icon-users"></span>
            <br/>招聘管理<br/>80082</a></li>
          <li><a href="#" class="am-text-secondary">
            <span class="am-icon-btn  am-danger am-secondary am-icon-external-link-square"></span>
            <br/>友情链接<br/>3000</a></li>
        </ul>



</block>
