<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="__PUBLIC__/Admin/css/amazeui.css" />
  <link rel="stylesheet" href="__PUBLIC__/Admin/css/other.min.css" />
</head>
<body class="login-container">
  <div class="login-box">
    <div class="logo-img">
      <img src="../assets/images/logo2_03.png" alt="" />
    </div>

    <form method="post" class="am-form" action="{: U('login') }" method="post" data-am-validator>

      <div class="am-form-group">
        <label for="username"> <i class="am-icon-user"></i> </label>
        <input type="text" name="username" id="username" value="" placeholder="输入用户名" required>
      </div>


  <div class="am-form-group">
    <label for="password"><i class="am-icon-key"></i></label>
    <input type="password" name="password" id="password"  placeholder="输入密码" value="" required>
  </div>


  <!-- <label for="remember-me">
    <input id="remember-me" type="checkbox">
    记住密码
  </label> -->
  <br />
  <div class="am-cf">
    <input type="submit" name="" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
  </div>
</form>

  </div>
</body>
</html>
