<extend name="Public:common" />
<block name="main">


        <div class="join-container">
          <div class="am-g">
            <div class="am-u-md-3">
              <div class="careers--articles">
									<h3 class="careers--subtitle">为什么加入我们?</h3>
									<div class="careers_articles">
										<div class="careers_article">
											<i class="careers_article--icon am-icon-diamond"></i>
											<h3 class="careers_article--title">我们的团队</h3>
											<div class="careers_article--text">
												<p>
													公司技术力量雄厚，拥有20多年环境科学研究、环境影响评价、环保工程设计、环境保护技术咨询、环境管理等工作经验。配备了工程分析、水环境、大气环境、声环境、生态、固体废物、环境工程、规划、环境经济、工程概算等方面专业技术人员
												</p>
											</div>
											<div class="careers_article--footer"><a href="#" class="link">Learn More</a></div>
										</div>
										<div class="careers_article">
											<i class="careers_article--icon am-icon-key"></i>
											<h3 class="careers_article--title">我们的实力</h3>
											<div class="careers_article--text">
												<p>
                         公司司具备健全的环境影响评价工作质量保证体系，配备了专项仪器设备，具备文件和图档的数字化处理能力，有较完善的计算机网络系统和档案管理系统。
												</p>
											</div>
											<div class="careers_article--footer"><a href="#" class="link">Learn More</a></div>
										</div>
										<div class="careers_article">
											<i class="careers_article--icon am-icon-paper-plane-o"></i>
											<h3 class="careers_article--title">我们的队友</h3>
											<div class="careers_article--text">
												<p>
													现有职工56人，其中高级职称技术人员18名、中级职称技术人员30名，硕士以上学位技术人员16人。
												</p>
											</div>
											<div class="careers_article--footer"><a href="#" class="link">Learn More</a></div>
										</div>
									</div>
								</div>
            </div>

            <div class="am-u-md-9">
              <h3 class="careers--subtitle">我们期待您的加入:</h3>
              <div class="careers--vacancies">
                <div class="am-panel-group" id="accordion">
                  <div class="am-panel am-panel-default">
                    <div class="am-panel-hd">
                      <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-1'}">
                        环评工程师
                      </h4>
                    </div>
                    <div id="do-not-say-1" class="am-panel-collapse am-collapse am-in">
                      <div class="am-panel-bd">
                        <div class="vacancies--item_content js-accordion--pane_content" style="">
														<h5>职位描述：</h5>
														<p>1、主持编写环境影响报告表；</p><p>2、负责环评文件总稿汇编及文字、表格、图件审查；</p><p>3、负责与项目相关方的技术沟通、协调工作；</p><p>4、负责项目报审、报批文件准备；</p><p>5、配合业务部门做好项目评审的相关工作；</p><p>6、负责项目完成后相关资料收集、整理，并按存档要求及时归档；</p><p>7、团结协作，积极完成领导交给的临时工作。</p><p>
<h5>任职要求：</h5>
														<p>1、本科学历，环境、化工、化学、生物医药类等相关专业毕业；</p><p>2、有较强的责任心和团队协作意识，工作认真、细致、踏实；</p><p>3、有良好的语言表达能力、沟通能力和较强的写作能力；</p><p>4、能积极组织团队完成现场勘查、公众参与、专家评审等各项工作。善于与甲方、环评审批部门进行沟通；</p><p>5、具有吃苦耐劳、积极主动的工作态度，富有进取心及团队意识。</p>

														<h5>请将您的简历发送至： <a href="mailto:hbxxhb2016@163.com">hbxxhb2016@163.com</a></h5>
													</div>
                      </div>
                    </div>
                  </div>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
</block>
