<extend name="Public:common" />
<block name="main">

<div class="product2-banner">
      <div class="container">
        <h2>服务范围</h2>
        <p>
         业务范围目前主要包括建设项目环境影响评价、规划环境影响评价、环境监理、环境风险评估、清洁生产审核、排污许可技术报告、验收监测和验收调查报告编制、环保工程设计、环境保护技术咨询等各类环保技术服务。
        </p>
       
      </div>
    </div>

     <div class="fw">
   <h1>我们的服务</h1>
   <h2>公司技术力量雄厚，拥有20多年环境科学研究、环境影响评价、环保工程设计、环境保护技术咨询、环境管理等工作经验。配备了工程分析、水环境、大气环境、声环境、生态、固体废物、环境工程、规划、环境经济、工程概算等方面专业技术人员。环评资质证书编号为国环评证乙字第1223号，环境影响报告书类别包括化工石化医药、冶金机电、轻工纺织化纤和社会服务;环境影响报告表类别包括一般项目环境影响报告表。公司具备健全的环境影响评价工作质量保证体系，配备了专项仪器设备，具备文件和图档的数字化处理能力，有较完善的计算机网络系统和档案管理系统。环境影响评价工作流程科学，能够高质量、高效率完成项目单位委托的各类环保技术服务。</h2>
   	 <div class="am-g">
         <div class="am-u-sm-12 am-u-md-4 ">
       	   <div class="am-thumbnail">
             <img id="fwimg" src="__PUBLIC__/Home/images/hjjc.png" alt=""/>
               <div class="am-thumbnail-caption">
                <h2>环境影响评价</h2>
                 <p>  明确开发建设者的环境责任及规定应采取的行动，可为建设项目的工程设计提出环保要求和建议，可为环境管理者提供对建设项目实施有效管理的科学依据。</p>
        
               </div>
             </div>
       </div>
       <div class="am-u-sm-12 am-u-md-4">
       	<div class="am-thumbnail">
             <img id="fwimg" src="__PUBLIC__/Home/images/jl.png" alt=""/>
               <div class="am-thumbnail-caption">
                <h2>环境监理</h2>
                 <p> 环境监理机构受项目建设单位委托，依据环境影响评价文件、环境保护行政主管部门批复及环境监理合同，对项目施工建设实行的环境保护监督管理.</p>
        
               </div>
             </div>
       </div>
       <div class="am-u-sm-12 am-u-md-4">
       	<div class="am-thumbnail">
             <img id="fwimg" src="__PUBLIC__/Home/images/qjsc.png" alt=""/>
               <div class="am-thumbnail-caption">
                <h2>清洁生产审核</h2>
                 <p> 在生产和服务过程进行调查和诊断，找出能耗高、物耗高、污染重的原因，提出减少有毒有害物料的使用、产生，降低能耗、物耗以及废物产生的方案。</p>
        
               </div>
             </div>
       </div>
     </div>
      <div class="am-g">
       <div class="am-u-sm-12 am-u-md-4">
       		<div class="am-thumbnail">
             <img id="fwimg" src="__PUBLIC__/Home/images/sj.png" alt=""/>
               <div class="am-thumbnail-caption">
                <h2>环保工程设计</h2>
                 <p> 准确领会客户的意思进行前期调研并设计环保工程治理方案,负责安排工序、安装材料的预算及安装过程的跟进,负责方案实施后的环保验收.</p>
        
               </div>
             </div>
       </div>
       <div class="am-u-sm-12 am-u-md-4">
       	<div class="am-thumbnail">
             <img id="fwimg" src="__PUBLIC__/Home/images/pg.png" alt=""/>
               <div class="am-thumbnail-caption">
                <h2>环境影响评估</h2>
                 <p> 针对建设项目在建设和运行期间发生的可预测突发性事件所造成的人身安全与环境损害进行评估，提出合理可行措施，使建设项目损失和环境达到可接受水平</p>
        
               </div>
             </div>
       </div>
       <div class="am-u-sm-12 am-u-md-4">
	<div class="am-thumbnail">
             <img id="fwimg" src="__PUBLIC__/Home/images/pgbg.png" alt=""/>
               <div class="am-thumbnail-caption">
                <h2>排污许可技术报告</h2>
                 <p>通过对排污单位进行现状调查,分析排污单位是否符合发证条件,核算国家、地方明确控制的重点污染物申请排放量。</p>
        
               </div>
             </div>
      </div>
     </div>
      
   </div>
  
</block>
